<section class="projects" id="projects">
    <div class="watermark-text">MY WORK</div><br><br><br>
    <h2 class="projects__title" data-aos="fade-up">Featured Projects</h2>
    <p class="projects__subtitle" data-aos="fade-up">Which I built to implment practical approach using my technical skills</p>
  
    <div class="projects__grid">
      <!-- Add more projects similarly -->
      <div class="project-card" data-aos="zoom-in" data-aos-delay="100">
        <img src="../../assets/Screenshot (58).png" alt="Society Management System" />
        <div class="project-overlay">
          <h3>Society Management System</h3>
        </div>
        <div class="project-description" data-aos="fade-up" data-aos-duration="1000">
            <p class="project-text">
              Developed a Society Management System using Java, Spring Boot, Angular, and MySQL to streamline resident, staff, visitor, and amenities management.
              Implemented role-based access, real-time complaint tracking, and a user-friendly dashboard for admins and residents.        
            </p>
            <div class="project-link">
              <a href="https://github.com/hamzak786/T20-Cricket-Data-Analysis.git"
                 target="_blank">
                View Full Details
              </a>
            </div>
          </div>
      </div>
  
      <div class="project-card" data-aos="zoom-in" data-aos-delay="200">
        <img src="../../assets/Screenshot (59).png" alt="Personal Portfolio Site" />
        <div class="project-overlay"> 
          <h3>Personal Portfolio Site</h3>
        </div>
        <div class="project-description" data-aos="fade-up" data-aos-duration="1000">
            <p class="project-text">
              A T20 cricket data analysis project built using Python and Power BI. It processes match data, analyzes performance trends,
              and creates dynamic dashboards for insightful visualizations.
            </p>
            <div class="project-link">
              <a href="https://github.com/hamzak786/T20-Cricket-Data-Analysis.git"
                 target="_blank">
                View Full Details
              </a>
            </div>
          </div>
      </div>
    </div>
  </section>
  