
<section class="hero" data-aos="fade-up">
    <div class="watermark-text">Turning Ideas <br> Into Code</div>
    <div class="hero__content" data-aos="fade-up">
      <h1>Hi, I'm <span>Saloni Sharma</span></h1>
      <h2 data-aos="fade-up" data-aos-delay="300">Aspiring Java Full Stack Developer</h2>
      <p data-aos="fade-up" data-aos-delay="600">
        I’m actively seeking internships or junior developer roles to learn, grow my skills, and contribute to real-world projects.
      </p>
      <a href="#projects" class="hero__btn" data-aos="zoom-in" data-aos-delay="900">View My Work</a>
      <a class="hero__btn" data-aos="zoom-in" data-aos-delay="900" href="../../assets/Resume.pdf" download>Download Resume</a>
    </div>
  
    <div class="hero__image" data-aos="fade-up">
      <img src="../../assets/1000122075.jpg" alt="Profile picture or illustration" loading="lazy"/>
    </div>
  </section>
  <app-skills></app-skills>
  <app-project></app-project>
  <app-contact></app-contact> 