<section class="skills" id="skill" data-aos="fade-up">
    <div class="watermark-text">Technology Stack</div><br><br><br>
    <h2 class="skills__title">What I’m Good At</h2>
   
    <p class="skills__subtitle">Here Are Some of My Areas Of Expertise</p>
  
    <div class="skills__grid">
      <div class="skill-card" data-aos="fade-up" data-aos-delay="100">
        <h3>Frontend Technologies</h3>
        <ul>
          <li>HTML5</li>
          <li>CSS, SCSS</li>
          <li>Angular.js</li>
          <li>Tailwind</li>
        </ul>
      </div>
  
      <div class="skill-card" data-aos="fade-up" data-aos-delay="200">
        <h3>Backend Technologies</h3>
        <ul>
          <li>Core Java, Java8</li>
          <li>Spring</li>
          <li>SpringBoot</li>
        </ul>
      </div>
  
      <div class="skill-card" data-aos="fade-up" data-aos-delay="300">
        <h3>Database management</h3>
        <ul>
          <li>SQL</li>
          <li>MySQL</li>
          <li>PostGreSQl</li>
        </ul>
      </div>
  
      <div class="skill-card" data-aos="fade-up" data-aos-delay="400">
        <h3>Tools and Technologies</h3>
        <ul>
          <li>Hibernate</li>
          <li>Maven, Gradle</li>
          <li>Postman</li>
          <li>VS Code, IntelliJ (IDEs)</li>
          <li>Chatgpt, Napkin, Merlin, Grok (AI tools)</li>
        </ul>
      </div>
    </div>
  </section>
  