<section class="about" data-aos="fade-up">
    <div class="watermark-text">Personal Overview</div><br><br><br><br><br>
    <h2 class="about__title">Know me Better</h2>
    <div class="about__container">
      <div class="about__image" data-aos="fade-right">
        <img src="../../assets/IMG_20240122_165538.jpg" alt="About me image" loading="lazy"/>
      </div>
  
      <div class="about__content" data-aos="fade-left">
            <p>
            Hello! I’m <strong>Saloni Sharma</strong>, an aspiring Full Stack Developer with experience in building web applications using Angular, Spring Boot, and more. I enjoy turning complex problems into simple, beautiful, and intuitive designs.
            </p>
            <p>
            I am eager to learn new technologies and continuously improve my skills to build better and scalable applications.
            </p>
            <div class="about-grid">
              <div class="about-item" data-aos="fade-up" data-aos-delay="200">
                <strong>🚀 Experience:</strong><br />
                Entry-level and actively seeking for Internships and job opportunities
              </div>
              <div class="about-item" data-aos="fade-up" data-aos-delay="300">
                <strong>🎓 Education:</strong><br />
                Masters of Computer Application, 2025
              </div>
              <div class="about-item" data-aos="fade-up" data-aos-delay="400">
                <strong>🌍 Location:</strong><br />
                Lucknow, Uttar Pradesh, India
              </div>
              <div class="about-item" data-aos="fade-up" data-aos-delay="400">
                <strong>💼 Current Role:</strong><br />
                Fresher
              </div>
            </div>
          
            <p class="drive-text" data-aos="fade-up" data-aos-delay="400">
              Along with technical skills, I bring strong soft skills such as:

              Effective communication
              
              Team collaboration
              
              Time management
              
              Critical thinking
              
              Adaptability
              
              Responsibility and a growth mindset
            </p>
          
            <p data-aos="fade-up" data-aos-delay="400">My expertise includes front-end development (Angular, Tailwind CSS), back-end development (Spring Boot, REST APIs), and database management (MySQL). I have worked on projects like society management systems</p>
            <ul data-aos="fade-up" class="about__skills" data-aos-delay="400">
            <li>✔️ Proficient in Angular, TypeScript, Java, Spring Boot</li>
            <li>✔️ Familiar with REST APIs & MySQL databases</li>
            <li>✔️ Responsive Web Design & Cross-Browser Compatibility</li>
            <li>✔️ Good understanding of Git and Agile methodologies</li>
            </ul>
            <a href="../../assets/Resume.pdf" class="hero__btn" data-aos="fade-up" data-aos-delay="800" download>Download Resume</a>
        
            <div class="social-icons" data-aos="fade-up"  data-aos-delay="400">
                <a href="https://github.com/SaloniSharma1610" target="_blank" aria-label="GitHub">
                <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/saloni-sharma-30a114278/" target="_blank" aria-label="LinkedIn">
                <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://www.instagram.com/_iamsalonii__/" target="_blank" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=100066248016877" target="_blank" aria-label="Facebook">
                <i class="fab fa-facebook"></i>
                </a>
            </div>
        </div>
      </div> 
  </section>
  
     
     
 