<section class="contact-section" id="contact" data-aos="fade-up" data-aos-duration="1000">
    <div class="watermark-text">CONTACT</div>

    <h2 class="title" data-aos="fade-up">Let's Connect</h2>
    <p class="subtitle" data-aos="fade-up">Feel free to get in touch—I'm open to new opportunities and collaborations</p>
    <div class="contact-container">
      <div class="contact-info" data-aos="fade-left">
        <h2>My Address</h2>
        <div class="info-item">
          <i class="fas fa-map-marker-alt"></i>
          <span>Lucknow, Uttar Pradesh, IN</span>
        </div>
        <div class="info-item">
          <i class="fas fa-phone-alt"></i>
          <span>+91 9919*****9</span>
        </div>
        <div class="info-item">
          <i class="fas fa-envelope"></i>
          <span>salonisharma1610&#64;gmail.com</span>
        </div>
        <div class="info-item">
          <i class="fab fa-linkedin"></i>
          <span>LinkedIn</span>
        </div>
        <div class="info-item">
            <i class="fab fa-github"></i>
            <span>GitHub</span>
          </div>
      </div>
  
      <form class="contact-form" data-aos="fade-right">
        <textarea rows="5" placeholder="Message"></textarea>
        <div class="form-row">
          <input type="text" placeholder="Name" />
          <input type="email" placeholder="Email" />
        </div>
        <button type="submit">Send Message</button>
      </form>
    </div>
  </section>
  